 li
 {
	color:yellow;
	font-size:28px; 
 }

#leave strong
{
	margin-right: 0px;
	padding-left: 4%;
}

 
.itemTitle
{
	font-weight: 800;
}

#tabmenu
{margin-top:10px;
	float: left;
	width: 24%;
		border:1px solid gray;
}

	#tabmenu ul
	{
		text-align: center;
		padding-bottom:20px;
		padding-top:20px;
	}

		#tabmenu ul li
		{
			padding: 10px;
		}

#tabcontent
{
margin-top:10px;
border:1px solid gray;
	float: right;
	width: 73%;
}

.down
{ 
    overflow: hidden;
}

#tabcontent ul
{
	padding-left: 10px;
}

	#tabcontent ul li
	{
		list-style-type:none;
		margin-bottom: 20px;
	}
