.itemRight a{
    text-decoration: none;
    text-align: center;
    float:left;
    margin:6px;
}

.itemRight p{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.itemRight a:hover{
    color: red;
}

.itemRight img{
    width: 141px;
    height:220px;
}